/* Empty. Add your own CSS if you like */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #fff;
	text-decoration: none;
}

a {
	text-decoration: none !important;
}

.errorpage {
	padding: 0px 0px;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 50px;
}

.bar-header{
	border: none;
}

.daylink {
	font-size: 12px;
	background-color: rgba(255, 255, 255, 0.26);
	padding: 4px;
	border-radius: 6px;
	margin: 16px;
	display: block;
	width: 38%;
	float: left;
}

.daylink1 {
	font-size: 12px;
	background-color: rgba(255, 255, 255, 0.26);
	padding: 4px;
	border-radius: 6px;
	margin: 16px;
	display: block;
	width: 38%;
	float: right;
}

[nav-view-transition="ios"][nav-view-direction="forward"], [nav-view-transition="ios"][nav-view-direction="back"]
	{
	background-color: transparent !important;
}

audio::-webkit-media-controls-volume-slider, video::-webkit-media-controls-volume-slider{
	display: none;
}

audio::-webkit-media-controls-timeline, video::-webkit-media-controls-timeline{
	background-color: rgb(192, 139, 31);
}

.sharebtn {
	border: none;
	background-color: transparent;
	padding: 5px;
	border-radius: 10px;
	font-size: 20px;
}

.item p {
	color: inherit !important;
}

.sharebtn:ACTIVE {
	box-shadow: 0px 0px 24px rgba(100, 100, 100, 0.5);
}

.loading-container .loading {
	background-color: transparent !important;
	/*  background-image: url("../img/looding.png");  */
	background-repeat: no-repeat;
	background-position: center 20px;
}

ion-side-menu, ion-side-menu-content, ion-nav-bar, ion-side-menus,
	ion-view, ion-content {
	background: transparent !important;
}

ion-nav-view {
	background: transparent;
}

.menu-animated {
	transition: transform 549ms ease !important;
}

@media (max-width:768px){
	ion-side-menu {
		/* display: none;
		transition: 549ms ease !important; */
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s linear 0.9s, opacity 0.9s linear;
	}
	
	.comments {
    	width: 97% !important;
	}
}


.menu-open ion-side-menu {
	/* display: block; */
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
}

.body {
	background-image: url('../img/bgYellow.png');
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	background-size: 100% 100%;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
	text-align: left;
}

.body ion-side-menus{
	margin-top: 20px;
}

.content div {
	text-align: justify;
}

.content img {
	max-width: 100%;
	width: 100%;
}

.pageView {
	background-color: transparent !important;
}

.item.item-checkbox {
	background: none;
	border: none;
	color: #fff;
	direction: rtl;
}

.pageContent {
	top: 0px !important;
}

.bar.bar-stable {
	background: none;
}

.slider {
	padding-top: 18px;
}

.slide-button {
	font-weight: bold !important;
	color: #fff !important;
	margin-top: 10px;
	margin-left: 15px;
	padding: 1px 10px;
}

.slider-pager {
	bottom: auto;
	top: -4px;
}

.slider-pager .slider-pager-page {
	color: #FFFFFF;
	opacity: 1.8;
	font-size: 9px;
	padding: 0px;
	margin: 0px;
	float: right;
}

.slider-pager .slider-pager-page.active {
	color: rgba(255, 255, 255, 0.67);;
}

.bar-stable .button.button-clear {
	color: #fff;
	padding: 5px;
}

.logo {
	padding: 7px 7px 0px;
	margin-left: 0px;
	width: 95px;
	position: absolute;
	right: 0px;
}

.row {
	padding: 5px 0px;
}

.col {
	padding: 5px 0px;
}

/* card */
.card {
	padding-top: 1px;
	padding-bottom: 1px;
	background: none;
	box-size: initial;
	box-shadow: none !important;
}

.card .item-divider {
	padding: 6px 14px;
	margin: 0 !important;
	background-color: rgba(0, 0, 0, 0.3);
	margin: 5px 0;
	font-size: 14px;
	color: #fff;
	direction: ltr;
}

.card .item-body {
	margin: 0px;
	padding: 0px 0px;
	border-color: transparent !important;
	background-color: transparent !important;
	border-style: none;
}

.card .item-text-wrap {
	margin-top: 5px;
	padding: 0px 0px;
	border-color: transparent !important;
	background-color: transparent !important;
	border-style: none;
	box-shadow: none;
	box-sizing: initial;
	border: none;
}

.card, .list-inset {
	margin: 5px 5px;
	border-radius: 0px;
}

.navViewer{
	height: 75%;
}

.box {
	display: block;
	min-height: 127px;
	box-shadow: none;
	border: none;
	padding: 0px !important;
	margin: 0px !important;
	border-radius: 0px;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
	border: none;
	padding: 0px !important;
	margin: 0px !important;
	border-radius: 0px;
	margin: 0px !important;
}

.box img {
	width: 100%;
	max-height: 190px;
	height: 125px;
	display: block;
	min-height: 125px;
}

.box.sliderimg img {
	height: 190px;
}

.box .title {
	text-align: center;
	position: absolute;
	z-index: 999;
	max-height: 65px;
	bottom: 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px 0;
	color: #fff;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px 0 10px;
}

.box .title .main-title h2 {
	font-size: 12px;
	padding: 0px 5px;
}

.box.sliderimg .title .main-title h2{
	font-size: 13px;
}

.box .title .subtitle p{
	font-size: 11px;
}


.box .title .main-title div {
	max-height: 50px;
	overflow: hidden;
}

.box .title p, .box .title h2, .box .title h3, .box .title h4 {
	margin-top: 3px;
}

.box .title h4 .fa {
	font-size: 18px;
	padding: 8px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.15);
}



.box .title .main-title {
	width: 65%;
	float: left;
}

.row.list{
	margin-bottom: 0px;
}

.row.list .box .title .main-title{
	width: 79%;
}

.box .title .date {
	width: 21%;
	float: left;
}

.box .title .date h3 {
	font-size: 9.2px;
	float: right;
	width: 100%;
}

.box .title .date div {
	float: right;
}

.box .title .main-icon {
	width: 14%;
	float: left;
}

/*** menu ***/
.sidemenu {
	width: 210px !important;
	text-align: left;
}

.menu .list .item {
	background-color: rgba(255, 255, 255, 0.17);
	border: none;
	color: #fff;
	font-size: 15px;
	list-style: none;
	padding: 0px;
	margin: 5px 10px 5px 0;
}

.menu .list .item.menu-title {
	background-color: rgba(255, 255, 255, 0.67);
	padding: 4px;
	margin: 0;
	text-shadow: 0 0 0;
	font-size: 16px;
	text-align: center;
	color: #000;
}

.menu .list .item .item-content {
	background-color: transparent;
	padding: 9px 10px 9px 10px;
}

.menu .list .item .icon {
	float: left;
	font-size: 20px;
	width: 25px;
	text-align: center;
}

.menu .list .item .text {
	margin-left: 26px;
}

.pageHeader {
	background-color: rgba(0, 0, 0, 0.45);
	text-align: center;
	font-size: 18px;
	padding: 7px;
}

/********* comments ************/
.comments {
	width: 99%;
	margin: auto;
	padding: 10px 0px;
}

.comments form {
	padding: 0px 12px;
}

.comments .commentsHeader {
	width: 100%;
	height: 55px;
	background-image: url("../img/live.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding: 0px 12px;
}

.comments .comment-row {
	border-bottom: 1px solid #fff;
}

.comments .comment-row .item {
	background: none;
	border-style: none;
}

.comments .comment-row .item-divider {
	color: #ffa600;
}

.comments .comment-row .item-text-wrap {
	color: #fff;
	padding: 2px 16px;
}

.comments .commenterName {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.45);
	border: 1px solid #fff !important;
	border-radius: 4px;
	padding: 5px !important;
	color: #fff !important;
}

.comments .commentContent {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.45);
	border: 1px solid #fff;
	border-radius: 4px;
	padding: 5px;
	color: #fff;
}

.formComment {
	direction: ltr;
}

.formComment .button {
	background: none;
	color: #fff;
	border: 2px solid #fff;
	padding: 0px 15px;
	float: left;
}

/************ userdetials **************/
.box-userdetials img {
	width: 100%;
	max-height: 190px;
	display: block;
}

.box-userdetials .title {
	text-align: center;
	width: 100%;
	background-color: #d5d5d5;
	padding: 5px 0 8px;
	margin-top: 0px;
}

.box-userdetials .title p, .box-userdetials .title h2, .box-userdetials .title h3,
	.box-userdetials .title h4 {
	margin-top: 5px;
	color: #000;
}

.box-userdetials .title .main-title {
	width: 100%;
	padding-bottom: 10px;
}

.box-userdetials .content {
	padding: 10px;
	background-color: #fff;
}

/************ newsdetials **************/
.box-newsdetials img {
	width: 100%;
	max-height: 190px;
	display: block;
}

.box-newsdetials audio {
	width: 100%;
	}

.box-newsdetials .title {
	text-align: center;
	width: 100%;
	background-color: #d5d5d5;
	padding: 5px 0 8px;
	margin-top: -3px;
	position: relative;
}

.box-newsdetials .title p, .box-newsdetials .title h2, .box-newsdetials .title h3,
	.box-newsdetials .title h4 {
	margin-top: 5px;
	color: #000;
	font-size: 14px;
}

.box-newsdetials .title p{
	font-size: 12px;
}

.box-newsdetials .title .main-title {
	width: 68%;
  	padding-bottom: 0px;
  	margin-left: 50px;
}

.box-newsdetials .title .date {
	width: 15%;
	float: right;
}

.box-newsdetials .title .share {
	position: absolute;
	left: 0px;
	top: 6px;
	width: 50px;
}

.box-newsdetials .title .date h3 {
	font-size: 12px;
	float: right;
	width: 100%;
}

.box-newsdetials .content {
	padding: 10px;
	background-color: #fff;
}

.box-newsdetials .content p{
	font-size: 14px;
}

.box-newsdetials.comments {
	background-color: #5e5e5e;
	margin-top: -10px;
}


/************ frequency ******************/

.frequency {
	background-image: url("../img/frec.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: contain;
	height: 83px;
	max-height: 86px;
	min-height: 155px;
	overflow: hidden;
	padding: 45px 28px 0px 0px !important;
	color: #fff;
	top: 5px;
}

.frequency div {
	/* width: 200px; */
	float: right;
	text-align: right;
	color: #fff;
	font-size: 14px;
}

/************** tttt ********************/
.item.item-body .iconlinks {
	display: block;
	height: 24px;
	width: 33px;
	background-color: rgba(0, 0, 0, 0.57);
	padding: 0px 5px;
	color: #bbb;
	margin-bottom: 5px;
}

.item.item-body .iconlinks div {
	background-size: 100%;
	display: block;
	height: 23px;
	width: 23px;
}

.item.item-body .iconlinks .face {
	background-image: url("../img/face.png");
}

.item.item-body .iconlinks .twit {
	background-image: url("../img/twet.png");
}

.item.item-body .iconlinks .inst {
	background-image: url("../img/inst.png");
}

.item.item-body .iconlinks .live {
	background-image: url("../img/brod.png");
	background-size: 100%;
}

.topbarNews {
	padding-top: 3px;
}

.topbarNews a {
	text-decoration: none;
	color: #fff;
	max-width: 100%;
	font-size: 0.9em;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 7px;
	display: block;
	overflow: hidden;
	height: 70px;
}

.topbarNews .sliderlogo {
	background-color: rgba(255, 255, 255, 0.20);
	background-image: url(../img/logo_w.png);
	background-position: center;
	border-top-right-radius: 5px;
	background-size: 90%;
	background-repeat: no-repeat;
	border-bottom-right-radius: 5px;
	height: 70px;
	width: 68px;
	float: right;
}

.topbarNews p {
	padding: 0px;
	padding-top: 4px;
	margin: 0px;
	text-align: center;
	color: #fff;
	font-size: 14px;
}

/**************** swiper  ************************/
.swiper-container {
	width: 100%;
	margin: 5px !important;
	overflow: hidden !important;
	border-radius: 5px !important;
	margin-top: 80px !important;
}

.swiper-pagination {
	display: none;
}

.swiper-slide {
	max-width: 70%;
	width: 70% !important;
}

.userName {
	direction: rtl;
	text-align: start;
	width: 100%;
	padding: 5px 0px;
	color: #fff;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0.46);
}

.userName .icon {
	/* background-image: url("../img/entt.png"); */
	background-image: url("../img/tt.png");
	background-size: 100%;
	display: block;
	height: 25px;
	float: right;
	margin: -1px 6px;
	width: 25px;
}

.userName span {
	color: #f8b80b;
}

.userName .userheader{
	margin-left: 35px;
}

.userName .proflink {
	display: block;
	  height: 30px;
	  width: 30px;
	  /* float: right; */
	  position: absolute;
	  top: 0px;
	  left: 0px;
}

.userName .proflink div {
	  background-image: url("../img/prof.png");
  background-size: 100%;
  display: block;
  height: 30px;
  width: 23px;
}

/*********************************************************/
.error-container {
	margin: 5px 0;
}

.error-container:last-child {
	margin: 5px 0 0;
}

.error {
	padding: 0px 0px;
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
	vertical-align: middle;
}

.error i {
	font-size: 20px;
	color: #B83E2C;
	vertical-align: middle;
}

.last-error-container>.error {
	padding: 5px 5px 0;
}

.has-errors {
	border-bottom: 3px solid #B83E2C;
}

.no-errors {
	border-bottom: 3px solid green;
}

/************************************/
.advertisment {
	padding: 1px 10px;
}

.advertisment .title {
	padding: 0px 16px;
	font-size: 19px;
}

.advertisment img {
	border: 4px solid #fff;
	border-radius: 5px;
}

/******************* programList *****************************/
.programList {
	background-color: rgba(255, 255, 255, 0.17);
	color: #fff;
	border: none;
	padding: 0px;
	min-height: 50px;
}

.programList:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.17);
}

.programList .time {
	display: block;
	float: left;
	width: 78px;
	height: 100%;
	padding-top: 11px;
	padding-left: 15px;
	background-color: rgba(255, 255, 255, 0.12);
}

.programList:nth-child(odd) .time {
	background-color: rgba(0, 0, 0, 0.12);
}

.programList .programtitle {
	padding-left: 80px;
	text-align: center;
	padding-top: 5%;
}

/*************************************************/

@font-face {
    font-family:"GE_SS_Two_Light";
    src:url("../fonts/GE_SS_Two_Light.eot?") format("eot"),
        url("../fonts/GE_SS_Two_Light.woff") format("woff"),
        url("../fonts/GE_SS_Two_Light.ttf") format("truetype"),
        url("../fonts/GE_SS_Two_Light.svg#GESSTwoLight-Light") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/DroidKufi-Regular.eot);
    src: url(../fonts/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/DroidKufi-Regular.woff2) format('woff2'),
        url(../fonts/DroidKufi-Regular.woff) format('woff'),
        url(../fonts/DroidKufi-Regular.ttf) format('truetype');
}

.ar .body {
	text-align: right;
	font-family: 'Droid Arabic Kufi', Tahoma,"Open Sans", Helvetica;
}

.ar .ionic-body{
	font-family: 'Droid Arabic Kufi', Tahoma,"Open Sans", Helvetica;
}

.ar{
	font-family: 'Droid Arabic Kufi', Tahoma,"Open Sans", Helvetica;
}

.ar h1, .ar h2, .ar h3, .ar h4, .ar h5, .ar h6, .ar .h1, .ar .h2, .ar .h3, .ar .h4, .ar .h5, .ar .h6{
	font-family: 'Droid Arabic Kufi', Tahoma,"Open Sans", Helvetica;
}

.ar input, .ar button, .ar select, .ar textarea{
	font-family: 'Droid Arabic Kufi', Tahoma,"Open Sans", Helvetica;
}

.ar .card .item-divider {
	direction: rtl;
	text-align: right;
}

.ar .sidemenu {
	text-align: right;
}

.ar .menu .list .item .icon {
	float: right;
}

.ar .menu .list .item .text {
	margin-left: initial !important;
	margin-right: 30px;
}

.ar .commentsHeader {
	text-align: right;
}

.ar .formComment {
	text-align: right;
	direction: rtl;
}

.ar .content {
	text-align: right;
	direction: rtl !important;
}

.comments .comment-row {
	direction: rtl;
	text-align: right;
}

.ar .advertisment .title {
	direction: rtl;
	text-align: start;
}

//////////////////////////////////////////////////////////


.pane {
  background: rgba(255, 255, 255, 0) !important;
}


.menu.menu-left {
  background: rgba(255, 255, 255, 0) !important;
}

.menu .scroll-content {
  background: rgba(255, 255, 255, 0) !important;
}
.menu .item {
  border: none !important;
}
.menu-container {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  margin-left: -100px !important;
}

.menu-content .scroll-content {
  background: rgba(255, 255, 255, 0) !important;
}

