/* Empty. Add your own CSS if you like */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #fff;
}

[nav-view-transition="ios"][nav-view-direction="forward"], [nav-view-transition="ios"][nav-view-direction="back"]
	{
	background-color: transparent !important;
}

.loading-container .loading {
	background-color: transparent !important;
	background-image: url("../img/looding.png");
	background-repeat: no-repeat;
	background-position: center 20px;
}

ion-side-menu, ion-side-menu-content, ion-nav-bar, ion-side-menus,
	ion-view, ion-content{
	background: transparent !important;
}

 ion-nav-view {
 	background: transparent;
 }

ion-side-menu {
	display: none;
}

.menu-open ion-side-menu {
	display: block;
}

.body {
	background-image: url('../img/bgYellow.png') ;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	background-size: 100% 100%;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
	text-align: right;
}

.content img {
	max-width: 100%;
	width: 100%;
}

.pageView {
	background-color: transparent !important;
}

.item.item-checkbox {
	background: none;
	border: none;
	color: #fff;
	direction: rtl;
}

.pageContent {
	top: 0px;
}

.bar.bar-stable {
	background: none;
}

.slider {
	padding-top: 18px;
}

.slide-button {
	font-weight: bold !important;
	color: #fff !important;
	margin-top: 10px;
	margin-left: 15px;
	padding: 1px 10px;
}

.slider-pager {
	bottom: auto;
	top: -4px;
}

.slider-pager .slider-pager-page {
	color: #FFFFFF;
	opacity: 1.8;
	font-size: 9px;
	padding: 0px;
	margin: 0px;
	float: right;
}

.slider-pager .slider-pager-page.active {
	color: rgba(255, 255, 255, 0.67);;
}

.bar-stable .button.button-clear {
	color: #fff;
	padding: 5px;
}

.logo {
	padding: 7px 7px 0px;
	margin-left: 0px;
	width: 95px;
	position: fixed;
	right: 0px;
}

.row {
	padding: 0px;
}

.col {
	padding: 0px;
}

/* card */
.card {
	padding-top: 1px;
	padding-bottom: 1px;
	background: none;
	box-size: initial;
	box-shadow : none !important;
}

.card .item-divider {
	padding: 6px 14px;
	margin: 0 !important;
	background-color: rgba(0, 0, 0, 0.3);
	margin: 5px 0;
	font-size: 14px;
	color: #fff;
}

.card .item-body {
	margin: 0px;
	padding: 0px 0px;
	border-color: transparent !important;
	background-color: transparent !important;
	border-style: none;
}

.card .item-text-wrap {
	margin-top: 5px;
	padding: 0px 0px;
	border-color: transparent !important;
	background-color: transparent !important;
	border-style: none;
	box-shadow: none;
	box-sizing: initial;
	border: none;
}

.card, .list-inset {
	margin: 10px 5px;
	border-radius : 0px;
}

.scroll{
	padding-bottom: 20px;
}

.box {
	display: block;
	min-height: 127px;
	box-shadow: none;
	border: none;
	padding: 0px !important;
	margin: 0px !important;
	border-radius: 0px;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
	border: none;
	padding: 0px !important;
	margin: 0px !important;
	border-radius: 0px;
	margin: 0px !important;
}

.box img {
	width: 100%;
	max-height: 170px;
	display: block;
}

.box video {
	width: 100%;
	height: 100%;
	max-height: 170px;
	display: block;
	background: transparent url('../img/defult.png') no-repeat 0 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.box .title {
	text-align: center;
	position: absolute;
	z-index: 999;
	max-height: 45px;
	bottom: 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px 0;
	color: #fff;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px 0 10px;
}

.box .title .main-title h2 {
	font-size: 14px;
}

.box .title p, .box .title h2, .box .title h3, .box .title h4 {
	margin-top: 5px;
}

.box .title h4 .fa {
	font-size: 18px;
	padding: 5px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.39);
}

.box .title .main-title {
	width: 60%;
	float: left;
}

.box .title .date {
	width: 25%;
	float: left;
}

.box .title .date h3 {
	font-size: 10px;
}

.box .title .main-icon {
	width: 15%;
	float: left;
}

/*** menu ***/

.sidemenu{
	width: 210px !important;
	text-align: left;
}

.menu .list .item {
	background-color: rgba(255, 255, 255, 0.3);
	border: none;
	color: #fff;
	font-size: 15px;
	list-style: none;
	padding: 10px 14px 10px 14px;
	margin: 5px 15px 5px 0;
}

.menu .list .item.menu-title {
	background-color: rgba(255, 255, 255, 0.67);
	padding: 4px;
	margin: 0;
	text-shadow: 0 0 0;
	font-size: 16px;
	text-align: center;
	color: #000;
}

.menu .list .item .item-content {
	background-color: transparent;
}

.menu .list .item .item-content {
	padding: 0px;
}

.menu .list .item .icon {
	float: left;
	font-size: 20px;
	width: 20px;
  	text-align: center;
}

.menu .list .item .text{
	margin-left: 26px;
}


.pageHeader {
	background-color: rgba(0, 0, 0, 0.45);
	text-align: center;
	font-size: 25px;
	padding: 7px;
}

/********* comments ************/
.comments {
	width: 97%;
	margin: auto;
	padding: 10px 0px;
}

.comments form {
	padding: 0px 12px;
}

.comments .commentsHeader {
	width: 100%;
	height: 55px;
	background-image: url("../img/live.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 0px 12px;
}

.comments .comment-row {
	border-bottom: 1px solid #fff;
}

.comments .comment-row .item {
	background: none;
	border-style: none;
}

.comments .comment-row .item-divider {
	color: #ffa600;
}

.comments .comment-row .item-text-wrap {
	color: #fff;
	padding: 2px 16px;
}

.comments .commenterName {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.45);
	border: 1px solid #fff !important;
	border-radius: 4px;
	padding: 5px !important;
	color: #fff !important;
}

.comments .commentContent {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.45);
	border: 1px solid #fff;
	border-radius: 4px;
	padding: 5px;
	color: #fff;
}

.formComment {
	direction: rtl;
}

.formComment .button {
	background: none;
	color: #fff;
	border: 2px solid #fff;
	padding: 0px 15px;
	float: left;
}

/************ newsdetials **************/
.box-newsdetials img {
	width: 100%;
	max-height: 170px;
	display: block;
}

.box-newsdetials .title {
	text-align: center;
	width: 100%;
	background-color: #d5d5d5;
	padding: 5px 0 8px;
	margin-top: 0px;
}

.box-newsdetials .title p, .box-newsdetials .title h2, .box-newsdetials .title h3,
	.box-newsdetials .title h4 {
	margin-top: 5px;
	color: #000;
}

.box-newsdetials .title .main-title {
	width: 75%;
	padding-bottom: 10px;
}

.box-newsdetials .title .date {
	width: 25%;
	float: right;
}

.box-newsdetials .title .date h3 {
	font-size: 10px;
}

.box-newsdetials .content {
	padding: 10px;
	background-color: #fff;
}

.box-newsdetials.comments {
	background-color: #5e5e5e;
	margin-top: -10px;
}

/************ box-vediodetials **************/
.box-vediodetials video {
	width: 100%;
	max-height: 170px;
	display: block;
	background-color: #250001;
	background: transparent url('../img/defult.png') no-repeat 0 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.box-vediodetials .title {
	text-align: center;
	width: 100%;
	background-color: #d5d5d5;
	padding: 5px 0 8px;
	margin-top: 0px;
}

.box-vediodetials .title p, .box-vediodetials .title h2,
	.box-vediodetials .title h3, .box-newsdetials .title h4 {
	margin-top: 5px;
	color: #000;
}

.box-vediodetials .title .main-title {
	width: 75%;
	padding-bottom: 10px;
}

.box-vediodetials .title .date {
	width: 25%;
	float: right;
}

.box-vediodetials .title .date h3 {
	font-size: 10px;
}

.box-vediodetials .content {
	padding: 10px;
	background-color: #fff;
}

.box-vediodetials.comments {
	background-color: #5e5e5e;
	margin-top: -10px;
}

/************ box-picturedetials **************/
.box-picturedetials img {
	width: 100%;
	background-color: #250001;
	max-height: 170px;
	display: block;
}

.box-picturedetials .title {
	text-align: center;
	width: 100%;
	background-color: #d5d5d5;
	padding: 5px 0 8px;
	margin-top: -4px;
}

.box-picturedetials .title p, .box-picturedetials .title h2,
	.box-picturedetials .title h3, .box-newsdetials .title h4 {
	margin-top: 5px;
	color: #000;
}

.box-picturedetials .title .main-title {
	width: 75%;
	padding-bottom: 10px;
}

.box-picturedetials .title .date {
	width: 25%;
	float: right;
}

.box-picturedetials .title .date h3 {
	font-size: 10px;
}

.box-picturedetials .content {
	padding: 10px;
	background-color: #fff;
}

.box-picturedetials.comments {
	background-color: #5e5e5e;
	margin-top: -10px;
}

/************ box-sounddetials **************/
.box-sounddetials img {
	width: 100%;
	background-color: #250001;
	max-height: 170px;
	display: block;
}

.box-sounddetials audio {
	width: 100%;
	margin-top: -10px;
	background-color: #250001;
}

.box-sounddetials .title {
	text-align: center;
	width: 100%;
	background-color: #d5d5d5;
	padding: 5px 0 8px;
	margin-top: -4px;
}

.box-sounddetials .title p, .box-sounddetials .title h2,
	.box-sounddetials .title h3, .box-newsdetials .title h4 {
	margin-top: 5px;
	color: #000;
}

.box-sounddetials .title .main-title {
	width: 75%;
	padding-bottom: 10px;
}

.box-sounddetials .title .date {
	width: 25%;
	float: right;
}

.box-sounddetials .title .date h3 {
	font-size: 10px;
}

.box-sounddetials .content {
	padding: 10px;
	background-color: #fff;
}

.box-sounddetials.comments {
	background-color: #5e5e5e;
	margin-top: -10px;
}

/************ frequency ******************/
.frequency {
	background-image: url("../img/frec.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 100%;
	height: 83px;
	max-height: 86px;
	overflow: hidden;
	padding: 38px 28px 0px 0px !important;
	color: #fff;
}

.frequency div {
	width: 200px;
	float: right;
}

/************** tttt ********************/
.item.item-body .iconlinks {
	display: block;
	height: 28px;
	width: 60px;
	position: absolute;
	top: 20px;
	background-color: rgba(0, 0, 0, 0.57);
	padding: 4px 10px;
	color: #bbb;
}

.item.item-body .iconlinks.link1 {
	top: 50px;
}

.item.item-body .iconlinks.link2 {
	top: 80px;
}

.item.item-body .iconlinks.link3 {
	top: 110px;
}

.topbarNews {
	padding-top: 3px;
}

.topbarNews a {
	width: 100%;
	text-decoration: none;
	color: #fff;
	font-size: 0.9em;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 7px;;
	display: block;
	overflow: hidden;
	height: 55px;
}

.topbarNews .sliderlogo {
	background-color: rgba(255, 255, 255, 0.38);
	background-image: url(../img/logo_w.png);
	background-position: center;
	border-top-right-radius: 5px;
	background-size: 90%;
	background-repeat: no-repeat;
	border-bottom-right-radius: 5px;
	height: 57px;
	width: 50px;
	float: right;
}

.topbarNews p {
	padding: 0px;
	padding-top: 4px;
	margin: 0px;
	text-align: center;
	color: #fff;
}

/**************** swiper  ************************/
.swiper-container {
	margin: 5px !important;
	overflow: hidden !important;
	border-radius: 5px !important;
	margin-top: 80px !important;
}

.swiper-pagination {
	display: none;
}

.swiper-slide:nth-child(2n) {
	width: 40%;
}

.swiper-slide:nth-child(3n) {
	width: 20%;
}

.userName {
	direction: rtl;
	position: absolute;
	top: -5px;
	right: 95px;
	color: #fff;
	font-size: 14px;
}

.userName span {
	color: #f8b80b;
}


/*************************************************/

.ar .sidemenu{
	text-align: right;
}

.ar .menu .list .item .icon{
	float: right;
}

.ar .menu .list .item .text{
	margin-left: initial !important;
	margin-right: 26px;
}