/* Empty. Add your own CSS if you like */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #fff;
	text-decoration: none;
}

a {
	text-decoration: none !important;
}

.errorpage {
	padding: 0px 0px;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 50px;
}

.daylink {
	font-size: 12px;
	background-color: rgba(255, 255, 255, 0.26);
	padding: 4px;
	border-radius: 6px;
	margin: 16px;
	display: block;
	width: 40%;
	float: left;
}

[nav-view-transition="ios"][nav-view-direction="forward"], [nav-view-transition="ios"][nav-view-direction="back"]
	{
	background-color: transparent !important;
}

.sharebtn {
	border: none;
	background-color: transparent;
	padding: 5px;
	border-radius: 10px;
	font-size: 20px;
}

.item p {
	color: inherit !important;
}

.sharebtn:ACTIVE {
	box-shadow: 0px 0px 24px rgba(100, 100, 100, 0.5);
}

.loading-container .loading {
	background-color: transparent !important;
	/*  background-image: url("../img/looding.png");  */
	background-repeat: no-repeat;
	background-position: center 20px;
}

ion-side-menu, ion-side-menu-content, ion-nav-bar, ion-side-menus,
	ion-view, ion-content {
	background: transparent !important;
}

ion-nav-view {
	background: transparent;
}

.menu-animated {
	transition: transform 549ms ease !important;
}

ion-side-menu {
	/* display: none;
	transition: 549ms ease !important; */
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.menu-open ion-side-menu {
	/* display: block; */
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
}

.body {
	background-image: url('../img/bgYellow.png');
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	background-size: 100% 100%;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
	text-align: left;
}

.content div {
	text-align: justify;
}

.content img {
	max-width: 100%;
	width: 100%;
}

.pageView {
	background-color: transparent !important;
}

.item.item-checkbox {
	background: none;
	border: none;
	color: #fff;
	direction: rtl;
}

.pageContent {
	top: 0px !important;
}

.bar.bar-stable {
	background: none;
}

.slider {
	padding-top: 18px;
}

.slide-button {
	font-weight: bold !important;
	color: #fff !important;
	margin-top: 10px;
	margin-left: 15px;
	padding: 1px 10px;
}

.slider-pager {
	bottom: auto;
	top: -4px;
}

.slider-pager .slider-pager-page {
	color: #FFFFFF;
	opacity: 1.8;
	font-size: 9px;
	padding: 0px;
	margin: 0px;
	float: right;
}

.slider-pager .slider-pager-page.active {
	color: rgba(255, 255, 255, 0.67);;
}

.bar-stable .button.button-clear {
	color: #fff;
	padding: 5px;
}

.logo {
	padding: 7px 7px 0px;
	margin-left: 0px;
	width: 95px;
	position: absolute;
	right: 0px;
}

.row {
	padding: 0px;
}

.col {
	padding: 0px;
}

/* card */
.card {
	padding-top: 1px;
	padding-bottom: 1px;
	background: none;
	box-size: initial;
	box-shadow: none !important;
}

.card .item-divider {
	padding: 6px 14px;
	margin: 0 !important;
	background-color: rgba(0, 0, 0, 0.3);
	margin: 5px 0;
	font-size: 14px;
	color: #fff;
	direction: rtl;
}

.card .item-body {
	margin: 0px;
	padding: 0px 0px;
	border-color: transparent !important;
	background-color: transparent !important;
	border-style: none;
}

.card .item-text-wrap {
	margin-top: 5px;
	padding: 0px 0px;
	border-color: transparent !important;
	background-color: transparent !important;
	border-style: none;
	box-shadow: none;
	box-sizing: initial;
	border: none;
}

.card, .list-inset {
	margin: 10px 5px;
	border-radius: 0px;
}

.scroll {
	padding-bottom: 35px;
}

.box {
	display: block;
	min-height: 127px;
	box-shadow: none;
	border: none;
	padding: 0px !important;
	margin: 0px !important;
	border-radius: 0px;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
	border: none;
	padding: 0px !important;
	margin: 0px !important;
	border-radius: 0px;
	margin: 0px !important;
}

.box img {
	width: 100%;
	max-height: 190px;
	height: 150px;
	display: block;
	min-height: 136px;
}

.box.sliderimg img {
	height: 190px;
}

/******
.box video {
	width: 100%;
	height: 100%;
	max-height: 170px;
	display: block;
	background: transparent url('../img/defult.png') no-repeat 0 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
} *********/
.box .title {
	text-align: center;
	position: absolute;
	z-index: 999;
	max-height: 60px;
	bottom: 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px 0;
	color: #fff;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px 0 10px;
}

.box .title .main-title h2 {
	font-size: 14px;
	padding: 0px 5px;
}

.box .title .main-title div {
	max-height: 50px;
	overflow: hidden;
}

.box .title p, .box .title h2, .box .title h3, .box .title h4 {
	margin-top: 3px;
}

.box .title h4 .fa {
	font-size: 18px;
	padding: 8px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.15);
}

.box .title .main-title {
	width: 65%;
	float: left;
}

.box .title .date {
	width: 20%;
	float: left;
}

.title .share{
	float: right;
}

.box .title .date h3 {
	font-size: 10px;
	float: right;
	width: 100%;
}

.box .title .date div {
	float: right;
}

.box .title .main-icon {
	width: 15%;
	float: left;
}

/*** menu ***/
.sidemenu {
	width: 210px !important;
	text-align: left;
}

.menu .list .item {
	background-color: rgba(255, 255, 255, 0.3);
	border: none;
	color: #fff;
	font-size: 15px;
	list-style: none;
	padding: 10px 14px 10px 14px;
	margin: 5px 10px 5px 0;
}

.menu .list .item.menu-title {
	background-color: rgba(255, 255, 255, 0.67);
	padding: 4px;
	margin: 0;
	text-shadow: 0 0 0;
	font-size: 16px;
	text-align: center;
	color: #000;
}

.menu .list .item .item-content {
	background-color: transparent;
}

.menu .list .item .item-content {
	padding: 0px;
}

.menu .list .item .icon {
	float: left;
	font-size: 20px;
	width: 25px;
	text-align: center;
}

.menu .list .item .text {
	margin-left: 26px;
}

.pageHeader {
	background-color: rgba(0, 0, 0, 0.45);
	text-align: center;
	font-size: 25px;
	padding: 7px;
}

/********* comments ************/
.comments {
	width: 97%;
	margin: auto;
	padding: 10px 0px;
}

.comments form {
	padding: 0px 12px;
}

.comments .commentsHeader {
	width: 100%;
	height: 55px;
	background-image: url("../img/live.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 0px 12px;
}

.comments .comment-row {
	border-bottom: 1px solid #fff;
}

.comments .comment-row .item {
	background: none;
	border-style: none;
}

.comments .comment-row .item-divider {
	color: #ffa600;
}

.comments .comment-row .item-text-wrap {
	color: #fff;
	padding: 2px 16px;
}

.comments .commenterName {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.45);
	border: 1px solid #fff !important;
	border-radius: 4px;
	padding: 5px !important;
	color: #fff !important;
}

.comments .commentContent {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.45);
	border: 1px solid #fff;
	border-radius: 4px;
	padding: 5px;
	color: #fff;
}

.formComment {
	direction: ltr;
}

.formComment .button {
	background: none;
	color: #fff;
	border: 2px solid #fff;
	padding: 0px 15px;
	float: left;
}

/************ userdetials **************/
.box-userdetials img {
	width: 100%;
	max-height: 190px;
	display: block;
}

.box-userdetials .title {
	text-align: center;
	width: 100%;
	background-color: #d5d5d5;
	padding: 5px 0 8px;
	margin-top: 0px;
}

.box-userdetials .title p, .box-userdetials .title h2, .box-userdetials .title h3,
	.box-userdetials .title h4 {
	margin-top: 5px;
	color: #000;
}

.box-userdetials .title .main-title {
	width: 100%;
	padding-bottom: 10px;
}

.box-userdetials .content {
	padding: 10px;
	background-color: #fff;
}


/************ newsdetials **************/
.box-newsdetials img {
	width: 100%;
	max-height: 190px;
	display: block;
}

.box-newsdetials .title {
	text-align: center;
	width: 100%;
	background-color: #d5d5d5;
	padding: 5px 0 8px;
	margin-top: 0px;
}

.box-newsdetials .title p, .box-newsdetials .title h2, .box-newsdetials .title h3,
	.box-newsdetials .title h4 {
	margin-top: 5px;
	color: #000;
}

.box-newsdetials .title .main-title {
	width: 75%;
	padding-bottom: 10px;
}

.box-newsdetials .title .date {
	width: 15%;
	float: right;
}

.box-newsdetials .title .date h3 {
	font-size: 10px;
	float: right;
	width: 100%;
}

.box-newsdetials .content {
	padding: 10px;
	background-color: #fff;
}

.box-newsdetials.comments {
	background-color: #5e5e5e;
	margin-top: -10px;
}

/************ box-vediodetials ********
.box-vediodetials video {
	width: 100%;
	max-height: 170px;
	display: block;
	background-color: #250001;
	background: transparent url('../img/defult.png') no-repeat 0 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
 ******/
.box-vediodetials .title {
	text-align: center;
	width: 100%;
	background-color: #d5d5d5;
	padding: 5px 0 8px;
	margin-top: -3px;
}

.box-vediodetials .title p, .box-vediodetials .title h2,
	.box-vediodetials .title h3, .box-newsdetials .title h4 {
	margin-top: 5px;
	color: #000;
}

.box-vediodetials .title .main-title {
	width: 75%;
	padding-bottom: 10px;
}

.box-vediodetials .title .date {
	width: 15%;
	float: right;
}

.box-vediodetials .title .date h3 {
	font-size: 10px;
	float: right;
	width: 100%;
}

.box-vediodetials .content {
	padding: 10px;
	background-color: #fff;
}

.box-vediodetials.comments {
	background-color: #5e5e5e;
	margin-top: -10px;
}

/************ box-picturedetials **************/
.box-picturedetials img {
	width: 100%;
	background-color: #250001;
	max-height: 190px;
	display: block;
}

.box-picturedetials .title {
	text-align: center;
	width: 100%;
	background-color: #d5d5d5;
	padding: 5px 0 8px;
	margin-top: -4px;
}

.box-picturedetials .title p, .box-picturedetials .title h2,
	.box-picturedetials .title h3, .box-newsdetials .title h4 {
	margin-top: 5px;
	color: #000;
}

.box-picturedetials .title .main-title {
	width: 75%;
	padding-bottom: 10px;
}

.box-picturedetials .title .date {
	width: 15%;
	float: right;
}

.box-picturedetials .title .date h3 {
	font-size: 10px;
	float: right;
	width: 100%;
}

.box-picturedetials .content {
	padding: 10px;
	background-color: #fff;
}

.box-picturedetials.comments {
	background-color: #5e5e5e;
	margin-top: -10px;
}

/************ box-sounddetials **************/
.box-sounddetials img {
	width: 100%;
	background-color: #250001;
	max-height: 190px;
	display: block;
}

.box-sounddetials audio {
	width: 100%;
	margin-top: -10px;
	background-color: #250001;
}

.box-sounddetials .title {
	text-align: center;
	width: 100%;
	background-color: #d5d5d5;
	padding: 5px 0 8px;
	margin-top: -4px;
}

.box-sounddetials .title p, .box-sounddetials .title h2,
	.box-sounddetials .title h3, .box-newsdetials .title h4 {
	margin-top: 5px;
	color: #000;
}

.box-sounddetials .title .main-title {
	width: 75%;
	padding-bottom: 10px;
}

.box-sounddetials .title .date {
	width: 15%;
	float: right;
}

.box-sounddetials .title .date h3 {
	font-size: 10px;
	float: right;
	width: 100%;
}

.box-sounddetials .content {
	padding: 10px;
	background-color: #fff;
}

.box-sounddetials.comments {
	background-color: #5e5e5e;
	margin-top: -10px;
}

/************ frequency ******************/
.frequency {
	background-image: url("../img/frec.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 100%;
	height: 83px;
	max-height: 86px;
	overflow: hidden;
	padding: 45px 28px 0px 0px !important;
	color: #fff;
}

.frequency div {
	width: 200px;
	float: right;
	text-align: start;
	color: #fff;
}

/************** tttt ********************/
.item.item-body .iconlinks {
	display: block;
	height: 28px;
	width: 40px;
	position: absolute;
	top: 20px;
	background-color: rgba(0, 0, 0, 0.57);
	padding: 0px 5px;
	color: #bbb;
}

.item.item-body .iconlinks.link1 {
	top: 50px;
}

.item.item-body .iconlinks.link2 {
	top: 80px;
}

.item.item-body .iconlinks.link3 {
	top: 110px;
}

.item.item-body .proflink {
	display: block;
	height: 36px;
	width: 40px;
	position: absolute;
	top: 20px;
	right: 5px;
}

.item.item-body .proflink div {
	background-image: url("../img/prof.png");
	background-size: 100%;
	display: block;
	height: 36px;
	width: 31px;
}

.item.item-body .iconlinks div {
	background-size: 100%;
	display: block;
	height: 28px;
	width: 28px;
}

.item.item-body .iconlinks .face {
	background-image: url("../img/face.png");
}

.item.item-body .iconlinks .twit {
	background-image: url("../img/twet.png");
}

.item.item-body .iconlinks .inst {
	background-image: url("../img/inst.png");
}

.item.item-body .iconlinks .live {
	background-image: url("../img/brod.png");
	background-size: 100%;
}

.topbarNews {
	padding-top: 3px;
}

.topbarNews a {
	text-decoration: none;
	color: #fff;
	max-width: 100%;
	font-size: 0.9em;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 7px;
	display: block;
	overflow: hidden;
	height: 70px;
}

.topbarNews .sliderlogo {
	background-color: rgba(255, 255, 255, 0.20);
	background-image: url(../img/logo_w.png);
	background-position: center;
	border-top-right-radius: 5px;
	background-size: 90%;
	background-repeat: no-repeat;
	border-bottom-right-radius: 5px;
	height: 70px;
	width: 68px;
	float: right;
}

.topbarNews p {
	padding: 0px;
	padding-top: 4px;
	margin: 0px;
	text-align: center;
	color: #fff;
	font-size: 12px;
}

/**************** swiper  ************************/
.swiper-container {
	width: 100%;
	margin: 5px !important;
	overflow: hidden !important;
	border-radius: 5px !important;
	margin-top: 80px !important;
}

.swiper-pagination {
	display: none;
}

.swiper-slide {
	max-width: 70%;
	width: 70% !important;
}

.userName {
	direction: ltr;
	text-align: start;
	width: 100%;
	padding: 5px 0px;
	color: #fff;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0.46);
}

.userName .icon {
	background-image: url("../img/entt.png");
	background-size: 100%;
	display: block;
	height: 25px;
	float: left;
	margin: -1px 6px;
	width: 25px;
}

.userName span {
	color: #f8b80b;
}

.subtitle {
	padding: 0px 5px;
}

.subtitle p {
	font-size: 9px;
}

.box .title .main-title .subtitle p {
	font-size: 10px;
	margin-top: 1px;
	color: #fff;
}

.frequancy {
	top: 50px;
}

/* Empty. Add your own CSS if you like */
.videogular-container {
	width: 100%;
	height: 235px;
	margin: auto;
	overflow: hidden;
}

@media ( min-width : 1200px) {
	.videogular-container {
		width: 1170px;
		height: 658.125px;
	}
}

@media ( min-width : 992px) and (max-width: 1199px) {
	.videogular-container {
		width: 940px;
		height: 528.75px;
	}
}

@media ( min-width : 768px) and (max-width: 991px) {
	.videogular-container {
		width: 728px;
		height: 409.5px;
	}
}

/*********************************************************/
.error-container {
	margin: 5px 0;
}

.error-container:last-child {
	margin: 5px 0 0;
}

.error {
	padding: 0px 0px;
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
	vertical-align: middle;
}

.error i {
	font-size: 20px;
	color: #B83E2C;
	vertical-align: middle;
}

.last-error-container>.error {
	padding: 5px 5px 0;
}

.has-errors {
	border-bottom: 3px solid #B83E2C;
}

.no-errors {
	border-bottom: 3px solid green;
}

/************************************/
.advertisment {
	padding: 1px 10px;
}

.advertisment .title {
	padding: 0px 16px;
	font-size: 19px;
}

.advertisment img {
	border: 4px solid #fff;
	border-radius: 5px;
}

/************************************************/
.programList {
	background-color: rgba(255, 255, 255, 0.21);
	color: #fff;
	border: none;
	padding: 0px;
	height: 60px;
}

.programList:nth-child(2) {
	background-color: rgba(0, 0, 0, 0.21);
}

.programList .time {
	display: block;
	float: left;
	width: 78px;
	height: 100%;
	padding-top: 11px;
	padding-left: 15px;
	background-color: rgba(255, 255, 255, 0.54);
}

.programList:nth-child(2) .time {
	background-color: rgba(0, 0, 0, 0.54);
}

.programList .programtitle {
	padding-left: 80px;
	text-align: center;
	padding-top: 5%;
}

/*************************************************/
.ar .body {
	text-align: right;
}

.ar .card .item-divider {
	direction: rtl;
}

.ar .sidemenu {
	text-align: right;
}

.ar .menu .list .item .icon {
	float: right;
}

.ar .menu .list .item .text {
	margin-left: initial !important;
	margin-right: 30px;
}

.ar .commentsHeader {
	text-align: right;
}

.ar .formComment {
	text-align: right;
	direction: rtl;
}

.ar .content {
	direction: rtl;
	text-align: right;
}

.ar .comments .comment-row {
	direction: rtl;
	text-align: right;
}

.ar .advertisment .title {
	direction: rtl;
	text-align: start;
}

.ar .userName {
	direction: rtl;
}

.ar .userName .icon {
	background-image: url("../img/tt.png");
	float: right;
}

/*********** jwplyer ************************/
.jwmain {
	transition: all 7s ease;
}

.jwdisplayIcon {
	background: none !important;
}

.jwplayer .jwuniform {
	background-size: 100% 100% !important;
}

.jwicon {
	background-size: 57px 100px !important;
	width: 64px !important;
}

.jwcapLeft {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.jwcapRight {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.jwcontrolbar {
	display: block !important;
	opacity: 1 !important;
	height: 40px !important;
}

.jwbackground {
	background-image: none !important;
	background-color: rgba(0, 0, 0, 0.62) !important;
}